body{
    
    margin: 0 auto;
}
img{
    width: 120px;
    height: 100px;
}
*{
    box-sizing: border-box;
}
h1{
    font-size: 2.5rem;
    text-align: center;
}
a{
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
}
[class*="col-"]{
    float: left;
    padding: 10px;
}
[class*="col-"]{
    width: 100%;
}
.navbar{
    background-color: aqua;
    padding: 1% 7%;
    text-align: center;

}
.navbar::after{
    content: '';
    display: table;
    clear: both;
}
.navbar h1{
    color: white;
    margin: 0;
    padding-top: 10px;
}
.navbar-menu{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}
.navbar-menu a:hover{
    background-color: bisque;
}
p{
    font-size: 1.2rem;
    text-align: justify;
}
.profile{
    padding: 130px 10px;
    position: relative;
    text-align: center;
}
.profile .top-weather-icon{
    position: absolute;
    right: 60px;
    top: 20px;
    transition: transform 2s;

}
.profile .top-weather-icon:hover{
    transform: rotate(360deg);
}
.profile p{
    color: gray;
    text-align: center;
    width: 100%;
}
.profile .buttom-weather-icon{
    position: absolute;
    left: 60px;
    bottom: 20px;
    transition: transform 2s;

}
.profile .buttom-weather-icon:hover{
    transform: rotate(360deg);
}
.profile::after{
    content: '';
    display: table;
}
h2{
    font-size: 2.5rem;
    text-align: center;
}
.about-me{
    background-color: blueviolet;
    padding: 1% 7%;
    color: white;
    text-align: center;
}
.about-me::after{
    clear: both;
    display: table;
    content: '';
}
.aboutme-desc p{
    text-align: center;
}
.dotted-hr{
    border: dotted 6px white;
    border-bottom: none;
    margin: 20px auto;
    width: 70px;
}
.aboutme-image img{
    height: 220px;
    width: 250px;
    border: 5px solid white;
    border-radius: 50%;
}
.professional-experience{
    padding: 1% 0%;
}
.professional-experience .card{
    background-color: blanchedalmond;
    border-radius: 5px;
    padding: 10px;
    transition: 3s;
    height: 700px;
}
.card:hover{
    box-shadow: 0 4px 8px 5px;
}
.professional-experience::after{
    clear: both;
    content: '';
    display: table;

}
.card-icon{
    text-align: center;
}
.card-icon img{
    margin-top: 20px;
    width: 100px;
    border-radius: 50%;
    padding: 15px;

    
}
.card-tittle h2{
    background-color: rgb(206, 206, 23);
    color: white;
    padding: 10px;
    text-align: center;
}
.footer{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

